[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "winratiosim"]
	path = winratiosim
	url = https://github.com/yain22/winratiosim
